.App {
  text-align: center;
  height: 100vh;
  background-color: #D4D9DE;
}

.container {
  background-color: #D4D9DE;
  height: 100vh;
  position: relative;
  background: no-repeat bottom right url(../assets/images/bg.png);

}

.App-header {
  display: flex;
  flex-direction: row;
  width: 90%;
  height:fit-content;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  width:90px;
  height:40px;
  background-image: url(../assets/images/logo.png);
  flex: 50%; 
  background-repeat:no-repeat;
  margin-top: 10px;
  margin-left: 10px;
}

.time {
  flex: 50%;
  font-size: 54px !important;
  font-weight: bolder;
  display: contents;
  font-family: 'IBM Plex Sans  ';
}


.head {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  align-items: center;
  letter-spacing: -0.2px;
  color: #222222;
}


.location {
  position: absolute;
  height: 128px;
  left: 20.56%;
  right: 23.82%;
  top: calc(50% - 128px/2 - 288px);
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 65px;
  display: flex;
  align-items: center;
  letter-spacing: -0.6px;
  color: #222222;
}

.buses {
  position: absolute;
  left: 20.56%;
  right: 37.22%;
  top: 31.25%;
  bottom: 62.5%;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  font-size: 25px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start; 
  flex-direction: column; 
  flex-wrap: nowrap; 
}

.bus {
  background-color: #fff;
  height:64px;
  padding-left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.time {
  font-size: 20px;
  float: left;
}


.status {
  width:5px;
}

.icon {
  height: 24px;
  margin-left: 12px;
}
 
.left {
  display: flex;
  align-items: center;
}

.right {
  margin-right: 56px;
  display: flex;
  width: 100%;
}

.status_line_ok {
  height: 25px;
  width: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #00AD09;
  padding-left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.status_line_late {
  height: 25px;
  width: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: red;
  padding-left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bussInfo {
  margin-left: 12px;
  font-size: 16px;
  font-family: "IBM Plex Sans";
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #222222;
}

.bussInfoTime {
  margin-left: auto;
  font-size: 14px;
  font-family: "IBM Plex Mono";
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  color: #909090;
}
 
@media only screen and (max-width: 600px)  {
  
  body {
    width: 100vw;
  }
  .App {
    background-color: #D4D9DE;
  }

  .buses {
    position: absolute;
    left: 4.27%;
    right: 4.27%;
    top: 33.74%;
    width: 343px;
  }
 
.location {
  position: absolute;
  width: 343px;
  height: 40px;
  left: 16px;
  top: 192px;  
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: -0.4px;
  color: #222222;
} 
.container {
  background-color: #D4D9DE;
  height: 100vh;
  position: relative;
}

.head {
  margin-top:36px;
  margin-bottom: 28px;
  text-align: left;
}

.right {
  margin-right: 56px;
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: start;
  margin-top: 4px;
  margin-bottom: 4px;
}


.bussInfo {
  margin-left: 12px;
  font-size: 16px;
  font-family: "IBM Plex Sans";
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #222222;
  margin-top: 0;
  margin-bottom: 0;
}

.bussInfoTime {
  font-size: 14px;
  font-family: "IBM Plex Mono";
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  color: #909090;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12px;
}


.time {
  flex: 50%;
  font-size: 24px !important;
  font-weight: bold;
  display: contents;
  font-family: 'IBM Plex Sans  ';
}

}




